*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

**/mipmap*/
/*.png
app/proguard-rules.pro

*.swp
/*.swp
.idea/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
